avisynth plugin
*.o
*.la
*.lo
*.so
*.dll
.ci-support/
_deps/
__pycache__/
tools/__pycache__/
build-*/
dist/
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
src/.deps/
src/.dirstamp
src/.libs/
